/* Styles spécifiques pour maillots.html en cohérence avec index.css et articles.css */

* {
    margin: 0;
    padding: 0;
    color: black;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(42,67,99);
    padding: 10px 20px;
}

header img {
    width: 10rem;
}

.hea {
    list-style: none;
    font-size: 1.2rem;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
}

.hea li a {
    color: white;
}

header li:hover {
    background-color: rgb(13, 121, 157);
}

main {
    text-align: center;
    background-color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.image{
    
    width: 500px; 
    margin: 2rem; 
    border-radius: 7px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 2rem;
}

.article-card {
    background: rgb(238, 238, 238);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    transition: transform 0.3s ease-in-out;
}

.article-card:hover {
    transform: scale(1.05);
}

form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: rgb(238, 238, 238);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#paypal-button-container {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-top: 2rem;
    background-color: rgb(42,67,99);
    color: white;
}

footer ul {
    display: flex;
    list-style: none;
    padding: 5px;
}

footer li a{
    color: white;
}

footer img {
    width: 20px;
    padding: 5px;
}