*, ::after, ::before{
    margin: 0;
    padding: 0;
    color: white;
    list-style: none;
    text-decoration: none;
}

header img{
    width: 5rem;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(17, 163, 211);
}

main{
    text-align: center;
    background-color: rgb(17, 17, 116);
    padding-bottom: 3rem;
}




footer{
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-top: 2rem;
    background-color: rgb(17, 163, 211);
}

footer ul{
    display: flex;
    list-style: none;
    padding: 5px;
}

footer img{
    width: 20px;
    padding: 5px;
}